$white: #ffffff;
$black: #000000;
$black-gray: #171717;
$gray: rgba(255, 255, 255, 0.25);
$blue: rgba(71, 156, 255, .42);
$blue-intense: #479CFF;
$orange: #EB4E00;
$yellow: #F0BC00;

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: $white;
}

html,
body {
	height: 100%;
	position: relative;
	box-sizing: border-box;
}

body {
	background: url(/img/bg.png);
	color: hsl(0, 0%, 50%);
	background: #1B2023;
	overflow-x: hidden;
}

input[type=text]::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}

input[type=text]::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

input::-webkit-input-placeholder {
	opacity: 1;
	transition: opacity 0.2s ease;
}

input::-moz-placeholder {
	opacity: 1;
	transition: opacity 0.2s ease;
}

input:-moz-placeholder {
	opacity: 1;
	transition: opacity 0.2s ease;
}

input:-ms-input-placeholder {
	opacity: 1;
	transition: opacity 0.2s ease;
}

input:focus::-webkit-input-placeholder {
	opacity: 0;
	transition: opacity 0.2s ease;
}

input:focus::-moz-placeholder {
	opacity: 0;
	transition: opacity 0.2s ease;
}

input:focus:-moz-placeholder {
	opacity: 0;
	transition: opacity 0.2s ease;
}

input:focus:-ms-input-placeholder {
	opacity: 0;
	transition: opacity 0.2s ease;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 1 auto;
}


.truncate p {
	margin: 0;
	/* Убираем внешний отступ */
	-webkit-line-clamp: 7;
	/* Число отображаемых строк */
	display: -webkit-box;
	/* Включаем флексбоксы */
	-webkit-box-orient: vertical;
	/* Вертикальная ориентация */
	overflow: hidden;
	/* Обрезаем всё за пределами блока */
}

.btn-main {
	font-weight: 600;
	font-size: 16px;
	line-height: 2.5;
	letter-spacing: 0.05em;
	background-color: $blue;
	color: $white;
	padding: 0 40px;

	&:hover {
		color: $white;
		background-color: $blue-intense;
	}
}

// Навбар

.navbar {

	&__logo {
		margin-right: 30px;
	}

	&__search {
		position: relative;
		color: $gray;


		input {
			overflow: hidden;
			height: 48px;
			background: $black-gray;
			border-radius: 15px;
			padding: 15px 50px 15px 20px;
			border: 0;
			font-weight: 400;
			font-size: 16px;
			line-height: 19px;
			letter-spacing: 0.05em;


			&::placeholder {
				color: $gray;
			}

			&:focus {
				background: $black-gray;
				color: $gray;
				border: 1px solid rgba(0, 0, 0, 0.5);
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			}
		}

		button {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translate(0, -50%);
			border: 0;
		}
	}

	&__profile {
		width: 48px;
		height: 48px;
		background-color: $black-gray;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 15px;


	}

	&__burger {
		margin-left: 30px;

		&:focus {
			border: none;
		}

	}
}

.line-1,
.line-2,
.line-3 {
	width: 35px;
	height: 5px;
	background-color: $black-gray;
	// border: 0;
	border-radius: 6px;
	margin-bottom: 6px;

	&:last-child {
		margin-bottom: 0;
	}
}

// Стили шаблонной секции

.main-section {
	margin-bottom: 50px;

	h4 {
		font-weight: 700;
		font-size: 22px;
		line-height: 27px;
		letter-spacing: 0.1em;
		color: $blue-intense;
	}
}

// Топ 10 фильмов Карусель
swiper-container {
	width: 100%;
	height: 100%;
}

.slider-top-films__slide {
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 45px;
	overflow: hidden;

	width: 45%;
	height: 440px;
}

.top-films {
	position: relative;
}

.slider-top-films__slide img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-pagination-horizontal {
	bottom: -30px !important;
}

.swiper-pagination-bullet {
	width: 15px;
	height: 15px;
}

.swiper {
	overflow-y: visible;
}

.slider-top-films__slide {
	overflow: hidden;
	border-radius: 45px;
	width: 100%;
	min-height: 100%;
	position: relative;
	height: auto;
	padding: 200px 0px 40px 40px;

	&::after {
		content: "";
		transition: all 0.5s ease 0s;
		position: absolute;
		opacity: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background: rgba(0, 0, 0, 0.5);
	}
}

.slide {
	// .slide__content

	&__content {
		transition: all 0.8s ease 0s;
		transform: translate(0px, 70%);
	}

	// .slide__header

	&__header {
		align-items: center;
		display: flex;
	}

	// .slide__title

	&__title {
		text-transform: uppercase;
		font-weight: 400;
		font-size: 42px;
		line-height: 51px;
		letter-spacing: 0.24em;
		color: #ffffff;
	}

	// .slide__kp-value

	&__kp-value {
		padding: 6px 5px;
		font-weight: 700;
		font-size: 12px;
		color: #ffffff;
		background: #eb4e00;
		border-radius: 15px;
	}

	// .slide__imdb-value

	&__imdb-value {
		margin-left: 10px;
		background: #f0bc00;
		border-radius: 15px;
		padding: 6px 5px;
		font-weight: 700;
		font-size: 12px;
		color: #ffffff;
	}

	// .slide__small

	&__small {
		margin-top: 10px;
		font-weight: 400;
		font-size: 14px;
		line-height: 11px;
		text-align: justify;
		letter-spacing: 0.01em;
		color: #ffffff;
	}

	// .slide__date

	&__date {}

	// .slide__duration

	&__duration {}

	// .slide__age

	&__age {}

	// .slide__main

	&__main {
		transition: all 0.3s ease 0s;
		opacity: 0;
		display: flex;
		align-items: center;

	}

	// .slide__description

	&__description {
		margin-top: 15px;
		max-width: 545px;
		font-weight: 400;
		font-size: 15px;
		line-height: 18px;
		text-align: justify;
		letter-spacing: 0.1em;
		color: $white;
		max-height: 130px;
		overflow: hidden;
	}

	// .slide__link

	&__link {
		width: 90px;
		height: 90px;
		// background: #000000;
		margin: 0 auto;
		position: relative;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

		}
	}
}

.swiper-wrapper {
	// max-height: 580px;
}

.swiper-pagination-bullet-active {
	width: 35px;
	height: 14px;
	border-radius: 14px;
}

.swiper-slide-active {
	&::after {
		transition: all 0.3s ease 0s;
		opacity: 1;
	}

	.slide__content {
		transition: all 0.8s ease 0s;
		transform: translate(0px, 0%);
	}

	.slide__main {
		transition: all 0.3s ease 0.2s;
		opacity: 1;
	}
}

.slider-top-films {

	&__swiper-button-prev,
	&__swiper-button-next {
		margin-right: 15px;
		background-color: #1b202325;
		border-radius: 15px;
		padding: 45px 30px;
		color: $blue;
		transition: all .2s ease;

		&:hover {
			background-color: $blue;
			color: $blue-intense;
		}
	}
}

// Популярные фильмы

.popular-films {
	a {
		display: block;
		text-decoration: none;
		color: $white;
		font-weight: 400;

	}

	&__item {

		height: auto;
		max-height: 280px;
		border-radius: 15px;
		overflow: hidden;
		position: relative;
		transition: all .3s ease;

		&::before {
			content: "";
			transition: all 0.5s ease 0s;
			position: absolute;
			opacity: 0;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			background: rgba(0, 0, 0, 0.4);
		}

		&:hover {

			.popular-films__body {
				opacity: 1;
				display: flex;
				flex-direction: column;
			}

			.popular-films__raitings {
				opacity: 0;

			}

			img {
				filter: blur(1px);


			}

			&::before {
				opacity: 1;
				z-index: 2;

			}

		}

		img {
			border-radius: 15px;
			width: 100%;
			height: 100%;
			object-fit: cover;


		}
	}

	&__raitings {
		transition: all .3s ease;
		font-size: 14px;
		position: absolute;
		top: 10px;
		left: 22px;
		display: flex;
		opacity: 1;
		gap: 5px;
		font-weight: 700;
		color: $white;
	}

	&__body {
		transition: all .3s ease;
		transition: all .3s ease;
		opacity: 0;
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 2;
		// font-size: 14px;
		// font-weight: 400;
		font-weight: 500;
		line-height: 16px;
		padding: 10px 22px;

		display: flex;
		flex-direction: column;



		// letter-spacing: 0.045em;
	}

	&__time {
		display: block;
		flex: 1 1 auto;
	}
}

.raitings {

	&__kp {
		background-color: $orange;
		padding: 2px 10px;
		border-radius: 15px;
	}

	&__imdb {
		background-color: $yellow;
		padding: 2px 10px;
		border-radius: 15px;
	}
}

// Жанры

.genres {

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.genres-slider {

	&__wrapper {}

	&__slide {}
}